.main-header .header-top {
  @include d-flex;
  justify-content: space-between;
  // position: relative;
  padding: 10px 0 20px;
  .site-logo {
    display: flex;
    align-items: flex-start;
    &::before {
      content: "";
      position: absolute;
      top: 22px;
      // background: url(../images/logo-icon.png) 0 0 no-repeat;
      width: 30px;
      height: 30px;
    }
    a {
      @include d-flex;
      text-decoration: none;
      color: $ylwcolor;
      font-size: $f25;
      font-weight: $fw4;
      font-family: "Space Grotesk";
      text-transform: uppercase;
      letter-spacing: 2pt;
      img {
        padding-right: 5px;
      }
    }
  }
  .main-nav {
    @include d-flex;
    @media screen and (max-width: (map-get($breakpoints, sm) - 1)) {
      justify-content: start;
    }
    #block-training-mainnavigation #superfish-main-toggle {
      width: 30px;
      height: 30px;
      margin: 8px 0px;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      background: url("../images/menu.svg") no-repeat;
      text-indent: -999999px;
      display: block;
    }
  }
  .search-sec {
    position: relative;
    @media screen and (max-width: (map-get($breakpoints, md) - 1)) {
      display: none;
    }
    #search-block-form {
      visibility: hidden;
      input#edit-keys {
        width: 90px;
        border-radius: 10px;
        border: 1px solid grey;
        text-align: center;
      }
      input#edit-submit {
        border: none;
        background: white;
        color: lightgrey;
        visibility: hidden;
        &:hover {
          color: $blackcolor;
        }
      }
    }
    span {
      position: absolute;
      bottom: 5px;
      right: 0;
      color: #87929d;
    }
  }
}
