/** Start Menu Section CSS  **/

ul#superfish-main {
  display: flex;
  justify-content: end;
  align-items: center;
  ul {
    li {
      font-size: $f17;
      font-family: "Space Grotesk";
      a {
        text-decoration: none;
        color: $textcolor;
        padding: 0 !important;
        color: #2f3941;
      }
      span {
        text-decoration: none;
        color: $textcolor;
        padding: 0 !important;
        color: #2f3941;
      }
    }
  }
}
ul.sf-menu a,
ul.sf-menu span {
  display: inline;
  position: relative;
  padding: 1em;
  font-size: 18px;
  color: #2f3941;
}
ul.menu a.is-active {
  color: #ed8f1c;
}
ul.sf-menu .sf-sub-indicator {
  right: 0px;
  &:after {
    content: "^";
    transform: rotate(180deg);
    top: 3px;
    left: 12px;
    font-size: 20px;
    font-weight: 600;
  }
}
ul.sf-menu .sf-expanded .sf-sub-indicator {
  &:after {
    transform: rotate(0deg);
  }
}
.fixed-position {
  position: fixed;
}
#main-menu-link-contentbc680507-2982-4de7-aa43-3c5a4abd5bfc .sf-depth-2 {
  padding-top: 10px;
  padding-left: 35px;
}
.main-nav {
  #superfish-main-accordion {
    .sf-clone-parent {
      display: none;
    }
    .sf-has-clone-parent {
      float: inherit !important;
      background: lightslategrey;
    }
    li {
      a {
        @media screen and (max-width: (map-get($breakpoints, md) - 1)) {
          color: $whitecolor;
          padding: $f10 $f15;
          font-size: 22px;
        }
      }
      a.is-active {
        @media screen and (max-width: (map-get($breakpoints, md) - 1)) {
          color: #bf3654;
        }
      }
      span {
        @media screen and (max-width: (map-get($breakpoints, md) - 1)) {
          color: $whitecolor;
          padding: $f10 $f15;
          font-size: 22px;
        }
      }
    }
  }
}
li#main-menu-link-contentbc680507-2982-4de7-aa43-3c5a4abd5bfc-accordion {
  margin: 0 !important;
}
ul.sf-menu.sf-horizontal.sf-shadow ul {
  box-shadow: none;
  background-color: lightslategrey;
  border-radius: 8px;
  padding-bottom: 10px;
}
#block-training-mainnavigation {
  .sf-accordion-toggle {
    .sf-expanded {
      position: fixed;
      top: 5px;
      right: 0;
      background: url("../images/ic.png") no-repeat !important;
      z-index: 999;
      background-color: aliceblue !important;
    }
  }
  .menu.sf-expanded {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0 !important;
    left: 0 !important;
    transition: all 0.3s ease-in-out;
    background-color: #333333;
    overflow: scroll;
    z-index: 99;
    li {
      margin: 10px 0;
    }
  }
}
/** END Menu Section CSS  **/
